<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
</div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="overlay"></div>

      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>We are cool </h1>
            <h3>Get your next awesome product</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><%= link_to("See all products", products_path)%> </button>
      </div>
    </div>
    <div class="item slides">
      <div class="overlay"></div>

      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>We are smart</h1>
            <h3>Get your next awesome product</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><a href="products">See all products</a> </button>
      </div>
    </div>
    <div class="item slides">
      <div class="overlay"></div>

      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>We are amazing</h1>
            <h3>Get your next awesome product</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><a href="products">See all products</a> </button>
      </div>
    </div>
   </div>
   <!-- 产品显示区 -->

  <div class="ItmeTitle">
    <h1>
      <samp>--------</samp>&nbsp; 爆款 &nbsp;<samp>--------</samp>
    </h1>
      <p style="font-size: 30px;">Cool life , Special gift</p>
  </div>

  <div class="container">
	<div class="row">
    	<!-- BEGIN PRODUCTS 产品1-->
  		<div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="https://static1.squarespace.com/static/525b0dcae4b030e5f06fdea7/5637062ae4b05c5c7e7a0dcc/56370630e4b05c5c7e7a0de5/1446446643300/Lumio_Product_4.jpg" alt="...">
      			<h4>Lumio</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
      			<p>一本发出暖心光亮的书 </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$29,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>
      <!-- 产品2 -->
  		<div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="https://i.stack.imgur.com/7Sh0g.jpg" alt="...">
      			<h4>Bike</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
      			<p>新概念自行车 </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$129,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>
      <!-- 产品3 -->

  		<div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="https://static1.squarespace.com/static/51d25133e4b04f3aa85ef123/5515208ae4b0ac8577a5a255/55dae4e2e4b0c4207757f5c4/1440408820902/allstonefb.jpg" alt="...">
      			<h4>Silver Shine stone</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
      			<p>带天然纹理的石头手表</p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$19,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>
  </div>
 </div>

<!-- 店主推荐 -->
  <div class="ItmeTitle">
   <h1>
    <samp>--------</samp>&nbsp; 精品必备 &nbsp;<samp>--------</samp>
   </h1>
    <p style="font-size: 30px;">Cool play , A surprise</p>
  </div>

  <div class="container">
  <div class="row">
      <div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="https://making-photos.b0.upaiyun.com/photos/e896aacc2eabcfce0f1453586ccb6691.jpg!middle" alt="...">
      			<h4>情侣背包</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>天然一对 </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$59,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>
      <div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="https://making-photos.b0.upaiyun.com/photos/6844c0bf0e4122831145a08202c94244.jpeg!middle" alt="...">
      			<h4>负离子空气净化器</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>为您和世界带来健康的名字，空气维生素 </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$559,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>
      <div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="https://making-photos.b0.upaiyun.com/photos/dfcd37a103e89c0a593d818df59b58e0.jpg!middle" alt="...">
      			<h4>檀香</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>独处、会友、燃一支香，让周围的空气被沉静悠远 </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$49,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>
  </div>
  </div>

<!-- 精品必备 -->
  <div class="ItmeTitle">
   <h1>
    <samp>--------</samp>&nbsp; 店主推荐 &nbsp;<samp>--------</samp>
   </h1>
    <p style="font-size: 30px;">new way , new possible </p>
  </div>

  <div class="container">
  <div class="row">
      <div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://oj5c6wpwt.bkt.clouddn.com/%E6%A4%85%E5%AD%90.jpg" alt="...">
      			<h4>半桶椅</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>舒适蜗居 </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$200</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>
      <div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://oj5c6wpwt.bkt.clouddn.com/1pair-switzerland-1-5v-aa-aquacell-water.jpg" alt="...">
      			<h4>水充电电池</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>十足黑科技，有水就有电 </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$9,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>
      <div class="col-md-4 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://oj5c6wpwt.bkt.clouddn.com/%E7%83%AD%E6%95%8F%E5%8F%98%E8%89%B2%E6%9D%AF%E5%AD%90.png" alt="...">
      			<h4>热敏变色杯</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>Hot Binary Heat Change Mug  </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$19,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > <%= link_to("MORE", products_path) %></button>
      				</div>

      			</div>
    		</span>
  		</div>

  </div>
  </div>
  		<!-- END PRODUCTS -->
</div>

<!-- 客户评论区 -->
<br>
<br>
<br>
<div class="lg-section-4">
      <div class="content-4 clearfix">
          <h2>顾客怎么说</h2>
          <div class="client-share-left">
              <div class="photo">
                  <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd7wstxs33j30pe0pe0zt.jpg">

              </div>

              <p>
                  <i class="fa fa-quote-left" id="fa-quote" aria-hidden="true"></i>
                  惊喜！很有特色的小东西！节日送礼不再焦虑，送给珍爱的她，看着她惊喜的表情，此刻是我最大的幸福，每份礼物的都是我们的见证，一份怀念。
                  <i class="fa fa-quote-right" id="fa-quote" aria-hidden="true"></i>
              </p>
              <div class="name">
                  <span>神游的猫 L</span>
              </div>
          </div>
          <div class="client-share-right">
              <div class="photo">
                  <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd7wsv28vuj30dw0dvjte.jpg">

              </div>
              <p>
                  <i class="fa fa-quote-left" id="fa-quote" aria-hidden="true"></i>
                  新奇，小资，把个性体现得凌琳精致，突破自己对礼物的定义，也想尝试进行自己的设计呢！自己超喜欢的，舍不得送闺蜜，
                  <i class="fa fa-quote-right" id="fa-quote" aria-hidden="true"></i>
              </p>
              <div class="name">
                  <span>love living K</span>
              </div>
          </div>
      </div>
  </div>

  <div class="container-fluid">
      <div class="row">
          <div class="row">
              <div class="top-line" style="margin-top: 60px; text-align: center">
                  <div>
                      <a href="#bs-example-navbar-collapse-1">

                          <i class="fa fa-arrow-circle-up">go to top</i>
                          <!-- <h2>go to top</h2> -->
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>

<br>
