<div class="row">
    <!-- <div class="bgimage"> -->
    <br>
<!-- 分栏栏start -->
<div class="productcatnav">
  <div id="flipkart2-navbar">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li><a id="home" href="/products">种类&nbsp; &nbsp;&nbsp;&gt;</a></li>
            <li><a id="home" href="/products#life">&nbsp;&nbsp; 创意生活 </a></li>
            <li><a id="about" href="/products#toy">&nbsp;&nbsp; 奇特玩具</a></li>
            <li><a id="" href="/products#music">&nbsp;&nbsp; 音乐享受</a></li>
            <li><a id="" href="/products#movement">&nbsp;&nbsp;旅行运动</a></li>
          </ul>
        </div>
      <!-- </div> -->

    </div>
  </div>
</div>
<!-- <div class="bgimage"> -->

<!-- 分栏栏end  -->
<!-- 第一类 -->
<div class="productbg">
  <div class="container">
    <div class="nocontent"></div>
    <div class="welcome-content-title" id="life">
      creative life
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/33">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/%E7%A9%BA%E6%B0%94%E9%A3%8E%E6%89%87.jpeg" alt="">
          </div>
          <hr>

          <table>
            <tbody>
             <tr>
               <td width="100%">
                <div>
                  <h3><a href="/products/1">空气倍增器</a></h3>
                </div>
                </td>
                 <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      3
                    </div>

                  </a></span> -->
                </td>
               </tr>
               <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$400
                      &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/1/add_to_cart">
                <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                    <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                </svg>Add to cart
                </a>
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/12">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/%E9%81%93%E5%85%B7%E7%BB%84.jpg" alt="">
          </div>
          <hr>

          <table>
            <tbody>
              <tr>
                <td width="100%">
                  <div>
                    <h3><a href="/products/12">極致不沾刀具 </a></h3>
                  </div>
                 </td>
                <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      1
                    </div>

                    </a></span>
                    </td> -->
              </tr>
              <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$12300
                         &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                   <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/12/add_to_cart">
                     <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                       <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                     </svg>Add to cart
                   </a>
                </td>
               </tr>
             </tbody>
            </table>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/12">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/pablo_limtablelg3.jpg" alt="">
          </div>
          <hr>

          <table>
            <tbody>
              <tr>
                <td width="100%">
                  <div>
                    <h3><a href="/products/12"> 极简桌灯</a></h3>
                  </div>
                 </td>
                <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      1
                    </div>

                    </a></span>
                    </td> -->
              </tr>
              <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$149
                         &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                   <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/12/add_to_cart">
                     <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                       <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                     </svg>Add to cart
                   </a>
                </td>
               </tr>
             </tbody>
            </table>
        </div>
      </a>
    </div>
   </div>
  <br>
  <br>
</div>

<!-- 第二类 -->
<div class="productbg">
  <div class="container">
    <div class="nocontent"></div>
    <div class="welcome-content-title" id="toy">
      Peculiar Toys
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/1">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/%E5%B7%B4%E5%85%8B%E7%90%831.jpeg" alt="">
          </div>
          <hr>

          <table>
            <tbody>
             <tr>
               <td width="100%">
                <div>
                  <h3><a href="/products/1">Buck ball</a></h3>
                </div>
                </td>
                 <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      3
                    </div>

                  </a></span> -->
                </td>
               </tr>
               <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$300
                      &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/1/add_to_cart">
                <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                    <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                </svg>Add to cart
                </a>
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/12">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/1pair-switzerland-1-5v-aa-aquacell-water.jpg" alt="">
          </div>
          <hr>

          <table>
            <tbody>
              <tr>
                <td width="100%">
                  <div>
                    <h3><a href="/products/12">环保水充电池</a></h3>
                  </div>
                 </td>
                <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      1
                    </div>

                    </a></span>
                    </td> -->
              </tr>
              <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$8
                         &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                   <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/12/add_to_cart">
                     <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                       <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                     </svg>Add to cart
                   </a>
                </td>
               </tr>
             </tbody>
            </table>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/12">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="https://fullstack-marc.s3.amazonaws.com/uploads/product/image/12/medium_dd862993-76b2-422e-b587-0e6c5584d341.png._CB272273090_.png" alt="Medium dd862993 76b2 422e b587 0e6c5584d341.png. cb272273090 ">
          </div>
          <hr>

          <table>
            <tbody>
              <tr>
                <td width="100%">
                  <div>
                    <h3><a href="/products/12">三星Gear Fit2</a></h3>
                  </div>
                 </td>
                <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      1
                    </div>

                    </a></span>
                    </td> -->
              </tr>
              <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$149
                         &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                   <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/12/add_to_cart">
                     <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                       <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                     </svg>Add to cart
                   </a>
                </td>
               </tr>
             </tbody>
            </table>
        </div>
      </a>
    </div>

  </div>
  <br>
  <br>
</div>

<!-- 第三类 -->
<div class="productbg">
  <div class="container">
    <div class="nocontent"></div>
    <div class="welcome-content-title" id="music">
      Music Enjoyment
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/1">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/%E8%80%B3%E9%BC%93%E8%80%B3%E6%9C%BA2.jpg" alt="">
          </div>
          <hr>

          <table>
            <tbody>
             <tr>
               <td width="100%">
                <div>
                  <h3><a href="/products/1">骨传导耳机</a></h3>
                </div>
                </td>
                 <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      3
                    </div>

                  </a></span> -->
                </td>
               </tr>
               <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$300
                      &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/1/add_to_cart">
                <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                    <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                </svg>Add to cart
                </a>
               </td>
              </tr>
            </tbody>
          </table>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/12">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/%E9%9F%B3%E5%93%8D.jpg" alt="">
          </div>
          <hr>

          <table>
            <tbody>
              <tr>
                <td width="100%">
                  <div>
                    <h3><a href="/products/12">十度 T2音响</a></h3>
                  </div>
                 </td>
                <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      1
                    </div>

                    </a></span>
                    </td> -->
              </tr>
              <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$149
                         &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                   <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/12/add_to_cart">
                     <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                       <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                     </svg>Add to cart
                   </a>
                </td>
               </tr>
             </tbody>
            </table>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-md-4">
      <a href="/products/12">
        <div class="product-item">
          <div class="pi-img-wrapper">
            <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
              <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/%E5%B0%A4%E5%85%8B%E9%87%8C%E9%87%8C.jpg" alt="">
          </div>
          <hr>

          <table>
            <tbody>
              <tr>
                <td width="100%">
                  <div>
                    <h3><a href="/products/12">尤克里里</a></h3>
                  </div>
                 </td>
                <!-- <td width="100%">
                  <span><a href="#" data-toggle="modal" data-target="#login-modal">
                    <div class="pi-thumbs-up" onclick="openModal()">
                      <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                      1
                    </div>

                    </a></span>
                    </td> -->
              </tr>
              <tr>
                <td>
                  <div class="product-title">
                    <div class="pi-price">$649
                         &nbsp;&nbsp;&nbsp;</div>
                  </div>
                </td>
                <td>
                   <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/12/add_to_cart">
                     <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                       <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                     </svg>Add to cart
                   </a>
                </td>
               </tr>
             </tbody>
            </table>
        </div>
      </a>
    </div>

  </div>
  <br>
  <br>
</div>

<!-- 第四类 -->
<div class="productbg">
  <div class="container">
    <div class="nocontent"></div>
    <div class="welcome-content-title" id="movement">
      Travel Movement
    </div>
        <div class="col-xs-6 col-md-4">
          <a href="/products/1">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
                  <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/%E8%87%AA%E8%A1%8C%E8%BD%A6%E5%89%8D%E8%BD%A6%E7%81%AF.jpg" alt="">
              </div>
              <hr>

              <table>
                <tbody>
                 <tr>
                   <td width="100%">
                    <div>
                      <h3><a href="/products/1">快拆速充车灯</a></h3>
                    </div>
                    </td>
                     <!-- <td width="100%">
                      <span><a href="#" data-toggle="modal" data-target="#login-modal">
                        <div class="pi-thumbs-up" onclick="openModal()">
                          <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                          3
                        </div>

                      </a></span> -->
                    </td>
                   </tr>
                   <tr>
                    <td>
                      <div class="product-title">
                        <div class="pi-price">$300
                          &nbsp;&nbsp;&nbsp;</div>
                      </div>
                    </td>
                    <td>
                    <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/1/add_to_cart">
                    <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                        <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                    </svg>Add to cart
                    </a>
                   </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="/products/12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
                  <img class="img-responsive" src="https://fullstack-marc.s3.amazonaws.com/uploads/product/image/19/medium_Snip20170225_415.png" alt="">
              </div>
              <hr>

              <table>
                <tbody>
                  <tr>
                    <td width="100%">
                      <div>
                        <h3><a href="/products/12">JAWBONE追踪器</a></h3>
                      </div>
                     </td>
                    <!-- <td width="100%">
                      <span><a href="#" data-toggle="modal" data-target="#login-modal">
                        <div class="pi-thumbs-up" onclick="openModal()">
                          <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                          1
                        </div>

                        </a></span>
                        </td> -->
                  </tr>
                  <tr>
                    <td>
                      <div class="product-title">
                        <div class="pi-price">$30
                             &nbsp;&nbsp;&nbsp;</div>
                      </div>
                    </td>
                    <td>
                       <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/12/add_to_cart">
                         <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                           <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                         </svg>Add to cart
                       </a>
                    </td>
                   </tr>
                 </tbody>
                </table>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="/products/1">

            <div class="product-item">
              <div class="pi-img-wrapper">
                <!-- <img src="/images/iwatch2-02.png" class="img-responsive" alt="Berry Lace Dress"> -->
                  <img class="img-responsive" src="http://omun9bf1y.bkt.clouddn.com/Original-one-A1-single-wheel-scooter-unicycle-electric-self-balance-monowheel-hoverboard-skateboard-support-dual-batteries.jpg_640x640.jpg" alt="">
              </div>
              <hr>

              <table>
                <tbody>
                  <tr>
                    <td width="100%">
                      <div>
                        <h3><a href="/products/1">单轮滑板</a></h3>
                    </div>
                   </td>
                  <!-- <td width="100%">
                      <span><a href="#" data-toggle="modal" data-target="#login-modal">
                        <div class="pi-thumbs-up" onclick="openModal()">
                          <i class="fa fa-thumbs-up fa-2x" ,="" style="color:#ff5722;"></i>
                          3
                        </div>

                      </a></span>
                  </td> -->
                 </tr>
                 <tr>
                   <td>
                     <div class="product-title">
                       <div class="pi-price">$500
                        &nbsp;&nbsp;&nbsp;</div>
                     </div>
                   </td>
                   <td>
                     <a class="btn add2cart" rel="nofollow" data-method="post" href="/products/1/add_to_cart">
                        <svg class="cart-svg " width="13" height="13" viewBox="0 0 16 16 ">
                        <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#384245 "></path>
                       </svg>Add to cart
                    </a>
                  </td>
                </tr>
               </tbody>
            </table>
            </div>
        </a>
     </div>

  </div>
  <br>
  <br>
</div>

      <!-- <div class="mylove">
          <h1>LOVE・MY・LOVE </h1>
          <h3>-- ALL PRODUCTS --</h3>
      </div> -->
     <br>
   <!-- <div class="container"> -->


<!-- 新建产品显示 -->
  <!-- <% @products.each do |product|%>
    <div class="col-md-4 col-sm-6">
      <span class="thumbnail">
       <%= link_to product_path(product) do%>
         <%if product.image.present?%>
           <%= image_tag(product.image.url)%>
         <%else%>
           <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
         <%end%>
       <%end%>
       <%= product.title %>
       <hr class="line">
       <div class="row">
        <div class="col-md-6 col-sm-6">
           ¥ <%= product.price %>
        </div>
        <div class="col-md-6 col-sm-6">
          <button class="btn  right" >
            <%= link_to("MORE", products_path) %>
          </button>
        </div>
      </div>
      </span>
     </div>
   <%end%> -->
<!-- 新建产品显示 -->

  <!-- </div> -->
<!-- </div> -->
</div>
